/* Style global */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #ffd700;
}

section {
    padding: 50px 20px;
    text-align: center;
}

#home {
    background-color: #000;
    color: #ffd700;
    padding: 100px 20px;
    background-image: linear-gradient(to right, #000, #0056b3);
}

#about, #projects, #contact, #extra-content {
    background-color: #fff;
    color: #000;
}

button {
    padding: 10px 20px;
    background-color: #ffd700;
    border: none;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    color: #fff;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(30px);
    }
}

section {
    animation: fadeIn 1.5s ease-in-out;
}

.project {
    margin: 20px;
    padding: 20px;
    background-color: #0056b3;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.project:hover {
    transform: scale(1.05);
    background-color: #ffd700;
    color: #000;
}

footer {
    background-color: #000;
    color: #ffd700;
    padding: 10px;
    text-align: center;
}

/* Styles pour les icônes sociales avec animations */
.social-icons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    opacity: 0; /* Initialement invisible */
    transform: translateY(30px); /* Légèrement décalé vers le bas */
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 1000; /* Assure que les icônes sont au-dessus des autres éléments */
}

.social-icons.show {
    opacity: 1; /* Devenir visible */
    transform: translateY(0); /* Ramener à sa position originale */
}

.social-icons img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.2);
}
