body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.enter-btn {
    background-color: black;
    color: yellow;
    font-weight: bold;
    border: none;
    border-radius: 10px; /* Coins légèrement arrondis */
    padding: 20px 40px;
    font-size: 28px;
    cursor: pointer;
    position: relative;
    z-index: 20;
    box-shadow: 0 0 20px yellow;
    animation: bounce 2s infinite;
    transition: transform 1s;
}

.enter-btn:focus {
    outline: none;
}

.enter-btn.zoom-out {
    animation: zoomOut 1s forwards;
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(50);
        opacity: 0;
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-7px);
    }
}

.hello-page {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: black;
    color: yellow;
    font-size: 48px;
    z-index: 10;
}

.hello-page h1 {
    animation: helloPulse 1s ease-in-out 0.5s infinite alternate;
}

@keyframes helloPulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1); /* S'agrandit légèrement */
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
